body,h1 {font-family: 'Raleway', sans-serif}
body {
  background: url(../images/acoustic\ guitar.jpg) no-repeat center center fixed;
  background-size: cover;
}
.login-box {
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 12px;
  color: white;
}
.w3-input {
  background-color: #333 !important;
  color: white;
}